#main-body{background-color:#FFFD75;}

h1 
    {text-align:center;
     
}
h2.subtitulo
    {
        border: 3px solid sandybrown;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;}
div
{
    font-family:monospace;
}
h4
{font-family: 'Times New Roman', Times, serif;border: 2px solid black; margin: 3px; padding: 8px;}

#espana-body{background-color: rgb(236, 204, 236);}
#canada-body{background-color: rgb(178, 248, 225);}
#alemania-body{background-color: rgb(221, 162, 162);}
#austria-body{background-color: rgb(255, 228, 196);}
