#main-body{background-color:#FFFD75;}

h1 
    {text-align:center;
     
}
h2.subtitulo
    {
        border: 3px solid sandybrown;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;}
div
{
    font-family:monospace;
}



    